<div class="container" id="contenedor">
    <div class="row row-cols-1 row-cols-md-4" id="tarjetas">
        <div class="col mb-4" *ngFor="let tarjeta of datos" id="for">
            <div class="card">
                <img src="{{tarjeta.image}}" class="card-img-top" alt="{{tarjeta.name}}">
                <div class="card-body">
                  <h5 class="card-title">{{tarjeta.name}}</h5>
                  <p class="card-text">Valor: {{tarjeta.valor}}</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
        </div>
      </div>
</div>
