<nav class="navbar navbar-light bg-light" id='navbar'>
    <a class="navbar-brand" href="#">
        <div class="container">
            <div class="row">
                <div class="col">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-card-heading" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M14.5 3h-13a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z" />
                        <path fill-rule="evenodd"
                            d="M3 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z" />
                        <path d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5v-1z" />
                    </svg>
                </div>

            </div>
        </div>


        <h1 id='titulo'>Carrito de Compras</h1>
    </a>
    <div class="col">
        <a class="btn btn-outline-primary btn-sm float-lg-right" (click)="ActualizarCarrito()">Regresar</a>
    </div>
</nav>
<div class="container-fluid">
    <div class="container" id="cardContainer">
        <div class="row mx-md-n5">
            <div class="card" style="width: 75rem;">
                <div class="card-body">
                    <table class="table ctable table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Imagen</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Recargo</th>
                                <th scope="col">Subtotal</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let tarjeta of datos">
                                <th scope="row"><img src={{tarjeta.imagen}} width="100" height="100"
                                        class="rounded  img-thumbnail"></th>
                                <td>{{tarjeta.nombre}}</td>
                                <td><input type="number" class="form-control" [(ngModel)]="tarjeta.cantidadActual"
                                        (ngModelChange)="Recalcular(tarjeta)" min="1" placeholder="0"></td>
                                <td>{{tarjeta.precio}}</td>
                                <td>{{tarjeta.chargeRate}}</td>
                                <td><input type="text" class="form-control"
                                        value={{tarjeta.precio*tarjeta.cantidadActual}} disabled></td>
                                <td><a class="btn btn-outline-primary btn-sm float-lg-right"
                                        (click)="EliminarTarjeta(tarjeta)">Eliminar</a> </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><a class="btn btn-outline-primary btn-sm float-lg-right" (click)="PagoRedireccion()">Comprar</a> </td>
                                <td>TOTAL</td>
                                <td><input type="text" class="form-control" id="total" [(ngModel)]="total" disabled>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                    <div>

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>