<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-6 col-md-6 col-lg-6" style="margin-top: 10vh">
            <div class="text-center font-weight-light mt-4" style="font-size: 1.5em">
                <div class="text-center">
                    <img src="assets/tarjeta.png" alt="" srcset="" />
                </div>
                 <h3> TOTAL A PAGAR: Q. {{total}}</h3>
            </div>
            <form [formGroup]="Formulario" id="Formulario" (ngSubmit)="Pay()" class="border p-4">
                <div>
                    <p class="font-weight-bold" style="font-size: 0.9em">Nombre Titular:*</p>
                    <input type="text" class="form-control" placeholder="Nombre" aria-label="Nombre Titular"
                        aria-describedby="basic-addon2" formControlName="NombreT" id="NombreT" />
                </div>
                <div>
                    <p class="font-weight-bold" style="font-size: 0.9em">Numero de Tarjeta:*</p>
                    <input type="text" class="form-control" placeholder="0000 0000 0000 0000"
                        aria-label="Numero de Tarjeta" aria-describedby="basic-addon2" formControlName="NumeroT"
                        id="NumeroT" />
                </div>
                <p class="font-weight-bold" style="font-size: 0.9em">Fecha Expiración:*</p>
                <div class="form-row">

                    <div class="col">
                        <select name="mes" id="mes" class="form-control">
                            <option selected disabled>MM</option>
                            <option *ngFor="let mes of months" [ngValue]="mes.id">
                                <span>{{ mes.mm }}</span>
                            </option>
                        </select>
                    </div>
                    <div class="col">

                        <select name="year" id="year" class="form-control">
                            <option selected disabled>YYYY</option>
                            <option *ngFor="let year of years" [ngValue]="year.id">
                                <span>{{ year.yy }}</span>
                            </option>
                        </select>
                    </div>

                </div>
                <div class="form-row">
                    <div class="col-5">
                        <p class="font-weight-bold" style="font-size: 0.9em">CCV:*</p>
                        <input type="password" class="form-control" placeholder="000" aria-label="CCV"
                            aria-describedby="basic-addon2" formControlName="ccv" id="ccv" />
                    </div>
                </div> 
                <button type="submit" class="btn btn-success mt-3" style="width: 100%">
                    Pagar
                </button>
            </form>
        </div>
    </div>
</div>